:root{
    --light-green:#C1E899;
    --dark-green:#55883B;
    --brown:#9A6735;
    --white:#f2f9eb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/Untitled\ Project.jpg");
    height: 100vh;
    background-size: cover;
    
}
nav{
    display: flex;
    justify-content: space-between;
    height: 90px;
    box-shadow: 0px 0px 5px 0px var(--dark-green);
}

nav img{
    width: 150px;
    padding: 20px;
    margin-top: -10px;
}

.nav-right button{
    margin-right: 50px;
    border: none;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: var(--dark-green);
    color: white;
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
nav i{
    color: #9A6735;
}

.main-details img{
    width: 100vw;
    height: 90vh;
    
    filter: blur(100%);
    margin-top: 2px;
}
.main-details .welcome-sec{
    position: absolute;
    top:200px;
    left: 100px;
    width: 50vw;

}
.main-details h1{
    color: var(--brown);
    margin: 10px -5px;
}
.main-details p{
    color: var(--dark-green);
    margin: 10px 0;
}

