*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    width: 100vh;
}
.market{
    background-color: #f7faf6;
    height: 100vh;
    width: 100vw;
}
nav{
    background-color: #74cb77;
    height: fit-content;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-left img{
    width: 120px;
    margin-top: -10px;
    padding: 10px;
}
.market-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market-nav i{
    color: #dddddd;
    font-size: 2rem;
    padding-right: 50px;
    cursor: pointer;
}
.market-section h1{
    margin-top: 30px;
    padding: 10px;
    color: #45a448;
    border-radius: 10px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.15);
}
.market-bottom{
    width: 100vw;
    display: flex;
    justify-content:space-between;

}
.market-section table{
    width: 50vw;
}
   
.market-section table {
    border-radius: 10px;
    border-collapse: collapse;
    margin: 25px 25vw;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.15);
    
}
thead{border-radius: 10px;}
.market-section table thead tr {
    background-color: #74cb77;
    color: #ffffff;
    text-align: left;
}
.market-section table th,
.market-section table td {
    padding: 12px 15px;
    text-align: center;
}
.market-section table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.market-section table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.market-section table tbody tr:last-of-type {
    border-bottom: 2px solid #74cb77;
}
.market-section table tbody tr.active-row {
    font-weight: bold;
    color: #74cb77;
}

.menu{
    background-color: #74cb77;
    width: fit-content;
    position: absolute;
    height: 85vh;
    width: 160px;
    right: 0;
    display: none;
    top:70px;
    padding: 0 30px 30px ;
    border-radius: 10px;
    animation: menuAni 0.3s forwards;
}
@keyframes menuAni {
    0%{
        right: -160px;
    }
    100%{
        right: 0px;
    }   
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu div{
    padding: 20px;
    border-bottom: 2px solid white;
    text-align: center;
    
}
.menu div:hover{
    background-color: var(--brown);
    color: white;
    cursor: pointer;
}
