*{
    margin: 0;
    padding: 0;
}
.market{
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.market-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.market-nav{
    background-color: #e2f7cc;
}
.market-nav i{
    color: #dddddd;
    width: 100px;
    height: 100px;
}
.market-section h3{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.15);
}
.market-section table{
    width: 50vw;
}

.profile-div{
    background-color: var(--dark-green);
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 20px 30px ;
}
.profile-div i{
    font-size: 1.2rem;
    color: var(--white);
}    
.market-section table {
    border-radius: 10px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.15);
    
}
thead{border-radius: 10px;}
.market-section table thead tr {
    background-color: var(--brown);
    color: #ffffff;
    text-align: left;
}
.market-section table th,
.market-section table td {
    padding: 12px 15px;
}
.market-section table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.market-section table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.market-section table tbody tr:last-of-type {
    border-bottom: 2px solid var(--brown);
}
.market-section table tbody tr.active-row {
    font-weight: bold;
    color: var(--brown);
}

.menu{
    background-color: #e2f7cc;
    width: fit-content;
    position: absolute;
    height: 85vh;
    right: 0;
    top:70px;
    padding: 0 30px 30px ;
    border-radius: 10px;
}
.menu div{
    padding: 20px;
    border-bottom: 2px solid var(--brown);
    text-align: center;
    
}
.menu div:hover{
    background-color: var(--brown);
    color: white;
    cursor: pointer;
}
.market-bottom{
    display: flex;
}